@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: Helvetica, Arial sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}