@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: Helvetica, Arial sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  @apply w-16 h-16 border-4 border-purple-500 border-t-transparent border-solid rounded-full;
  animation: spin 1s linear infinite;
}
