@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: Helvetica, Arial sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

.Toastify__toast-container{
  @apply w-9/12 z-50 md:w-1/3 !important;
}

.Toastify__toast {
  @apply text-sm md:text-lg p-0.5 md:p-2 !important;
} 